<div class="card  mt-5 mb-5 backColor">
    <h5 class="card-header colorTop">Administrar usuarios</h5>
    <nav class="navbar navbar-light">
        <a class="navbar-brand">
            <input class="form-control mx-5"  type="search" placeholder="Buscar usuario" aria-label="Search">
        </a>
        <form class="form-inline">
          
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"data-toggle="modal" data-target="#exampleModal">Nuevo Usuario</button>
        </form>
      </nav>

      <div class="m-5 colorTable">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Usuario</th>
                <th scope="col">Correo</th>
                <th scope="col">Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Mk123</td>
                <td>Mk123@gmail.com</td>
                <td>08/24/2020</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Jac786</td>
                <td>Jac32@hotmail.com</td>
                <td>03/22/2019</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>Lar762</td>
                <td>Larry21@outluck.com</td>
                <td>14/09/2020</td>
              </tr>
            </tbody>
          </table>
    </div>
      
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registrar Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" placeholder="Nombre" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Usuario:</label>
              <input type="text" class="form-control" placeholder="Usuario" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Correro:</label>
              <input type="text" class="form-control" placeholder="Email" id="recipient-name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>