<h1 mat-dialog-title>Modificar Producto {{data.product.idProduct}}</h1>
<div mat-dialog-content>
  <form class="m-5" [formGroup]="formGroup">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Precio de compra</label>
        <input type="number" class="form-control" formControlName="purchasePrice" [ngClass]="{'is-invalid': (control.purchasePrice.errors && control.purchasePrice.touched)}">
        <div *ngIf="control.purchasePrice.errors" class="invalid-feedback">
          <div>{{getErrorPurchasePrice()}}</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="inputSalePice">Precio de venta</label>
        <input type="number" class="form-control" formControlName="salePrice" [ngClass]="{'is-invalid': (control.salePrice.errors && control.salePrice.touched)}">
        <div *ngIf="control.salePrice.errors" class="invalid-feedback">
          <div>{{getErrorSalePrice()}}</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="inputQuantity">Cantidad (Kg)</label>
        <input type="number" class="form-control" formControlName="quantity" [ngClass]="{'is-invalid': (control.quantity.errors && control.quantity.touched)}">
        <div *ngIf="control.quantity.errors" class="invalid-feedback">
          <div>{{getErrorQuantity()}}</div>
        </div>
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputIva">Iva (%)</label>
        <input type="number" class="form-control" formControlName="iva" [ngClass]="{'is-invalid': (control.iva.errors && control.iva.touched)}">
        <div *ngIf="control.iva.errors" class="invalid-feedback">
          <div>{{getErrorIva()}}</div>
        </div>
      </div>

      <div class="form-group col-md-8">
        <label for="exampleFormControlTextarea1">Descripcion</label>
        <textarea class="form-control" formControlName="description" rows="3" [ngClass]="{'is-invalid': (control.description.errors && control.description.touched)}"></textarea>
        <div *ngIf="control.description.errors" class="invalid-feedback">
          <div>{{getErrorDescription()}}</div>
        </div>
      </div>
    </div>
  </form>

  <mat-dialog-actions class="row end-xs">
    <div class="col-xs-6">
      <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="modify()" [disabled]="formGroup.invalid"
              cdkFocusInitial>
        Aceptar
      </button>
    </div>
  </mat-dialog-actions>
</div>

