<h1 mat-dialog-title>Modificar Producto {{data.product.idProduct}}</h1>
<div mat-dialog-content>
  
    <div class="row around-xs m-5">
        <div class="col-xs-4">
          <label>Precio de compra</label>
          <input type="number" class="form-control" name="purchasePrice" [(ngModel)]="data.product.purchasePrice"
            placeholder="ejemplo: 2400">
        </div>

        <div class="col-xs-4">
          <label>Precio de venta</label>
          <input type="number" class="form-control" name="salePrice" [(ngModel)]="data.product.salePrice"
            placeholder="ejemplo: 3000">
        </div>
      
        <div class="col-xs-4">
          <label>Cantidad (Kg)</label>
          <input type="number" class="form-control" name="quantity" [(ngModel)]="data.product.quantity"
            placeholder="ejemplo: 56">
        </div>

        <div class="col-xs-4">
          <label>Iva (%)</label>
          <input type="number" class="form-control" name="iva" [(ngModel)]="data.product.iva" placeholder="ejemplo: 19">
        </div>
        <div class="col-xs-8">
          <label>Descripcion</label>
          <textarea class="form-control" name="description" [(ngModel)]="data.product.description" rows="3"></textarea>
        </div>
      </div>
  </div>
 <mat-dialog-actions class="row end-xs">
    <div class="col-xs-6">
      <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="modify()" cdkFocusInitial>Aceptar</button>


    </div>
 </mat-dialog-actions>