<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm-6">
      <h3>¿Quienes somos?</h3>
      <p>
        Nuestras carnicerías tradicionales disponen de personal altamente cualificado
        y especializado, que le podrán informar lo mejor posible de nuestros productos
        y dar un servicio personalizado y directo.
      </p>
      <p>
        Nuestro objetivo es crear una relación duradera con nuestros clientes y esto
        sólo se consigue ofreciendo calidad y servicio. Por eso, y para facilitar sus 
        compras de carnicería, nos hemos lanzado a la red para ofrecerle los mismos
        servicios que hasta ahora ya podía encontrar en nuestra tienda, pero con las 
        comodidades que este nuevo sistema ofrece.
      </p>
    </div>
    <div class="col-sm-6">
      <img src="https://img.freepik.com/foto-gratis/chuleta-cordero-verduras_95419-3051.jpg?size=626&ext=jpg" class="rounded-circle" alt="Carne" width="520" height="240"> 
    </div>
  </div>
</div>