.backColor{
    background-color: #FFFFFF;
}

.colorTop{
    background-color: #731521;
}
#btn-style:hover{
    background-color: #C2B283;
}
#btn-style{
    border: 1px solid #000000;
    border-radius: 10px;
}
.colorTable{
    background-color: #FFFFFF;
}
.my-align{
    display: block;
    margin: auto;
}

img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    object-position: center;
}
h5 {
    color: #FFFFFF;
}

button {
    color: #FFFFFF;
}