<div class="card  mt-5 mb-5 backColor">
    <h5 class="card-header colorTop">Registro de Productos</h5>
    <form class="m-5" [formGroup] = "formGroup">
        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="inputID">Codigo</label>
                <input type="text" class="form-control" formControlName = "idProduct"  placeholder="codigo">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Tipo</label>
                <select id="inputState" class="form-control" formControlName = "title">
                  <option>seleccionar...</option>
                  <option>Carne de Res</option>
                  <option>Carne de Cerdo</option>
                  <option>Carne de Pollo</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputCategory">Categoria</label>
                <select id="inputCategory" class="form-control" formControlName = "category">
                  <option>seleccionar...</option>
                  <option>Lomito</option>
                  <option>Cadera</option>
                  <option>Costilla</option>
                  <option>Pecho</option>
                  <option>Paletero</option>
                  <option>Morrillo</option>
                  <option>Falda</option>
                  <option>Tocineta</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputPurchasePrice">Precio de compra</label>
                <input type="number" class="form-control" formControlName = "purchasePrice" placeholder="ejemplo: 2400">
            </div>
            <div class="form-group col-md-4">
                <label for="inputSalePice">Precio de venta</label>
                <input type="number" class="form-control" formControlName = "salePrice"  placeholder="ejemplo: 3000">
            </div>

            <div class="form-group col-md-4">
                <label for="inputSuggestedPrice">Precio Sugerido</label>
                <input type="number" class="form-control" formControlName = "suggestedPrice"  placeholder="ejemplo: 2800">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputQuantity">Cantidad (Kg)</label>
                <input type="number" class="form-control" formControlName = "quantity" placeholder="ejemplo: 56">
            </div>

            <div class="form-group col-md-4">
                <label for="inputIva">Iva (%)</label>
                <input type="number" class="form-control" formControlName = "iva" placeholder="ejemplo: 19">
            </div>
            <div class="form-group col-md-4">
              <label for="exampleFormControlTextarea1">Descripcion</label>
              <textarea class="form-control" formControlName = "description" rows="3"></textarea>
            </div>
        </div>
        
        <div class="row justify-content-center text-center mt-3">
           <div class="col-sm-X  align-self-center">
            <!-- <img *ngIf="(downloadURL$ | async) as image" [src] ="image"> -->
            <label for="imputImage"><strong>Ingresa una imagen..!</strong></label>
            <input type="file" class="form-control-file" (change)="uploadFile($event)" /> 
            <div class="col-sm-X  align-self-center mt-2">
              <mat-progress-bar mode="determinate" value="{{ uploadPercent | async }}"></mat-progress-bar>
            </div>
           </div>
          
           
           <a [href]="downloadURL$ | async">{{ downloadURL$ | async }}</a>
        </div>
          
        
        <button type="button" id="btn-style" class="btn colorTop mt-3" (click)="add()">Registrar</button>
        <!-- <button mat-mat-button (click) = "openDialog()">
            Open Dialog
        </button> -->
    </form>
</div>


