<div class="card  mt-5 mb-5 backColor">
  <h5 class="card-header colorTop">Registro de clientes</h5>
  <form class="m-5"  [formGroup] = "formGroup">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Identificacion</label>
        <input type="text" class="form-control" formControlName = "indentification" placeholder="Identificacion"
        [ngClass]="{'is-invalid': (control.indentification.errors && control.indentification.touched)}">

        <div *ngIf="control.indentification.errors" class="invalid-feedback">
          <div *ngIf="control.indentification.errors.required">se requiere la identificacion</div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>Nombre</label>
        <input type="text" class="form-control"  formControlName = "name" placeholder="Nombre"
        [ngClass]="{'is-invalid': (control.name.errors && control.name.touched)}">

        <div *ngIf="control.name.errors" class="invalid-feedback">
          <div *ngIf="control.name.errors.required">se requiere el nombre</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Apeldido</label>
        <input type="text" class="form-control" formControlName = "lastName" placeholder="Apellidos"
        [ngClass]="{'is-invalid': (control.lastName.errors && control.lastName.touched)}">

        <div *ngIf="control.lastName.errors" class="invalid-feedback">
          <div *ngIf="control.lastName.errors.required">se requiere almenos un appelido</div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>Telefono</label>
        <input type="text" class="form-control" formControlName = "phone" placeholder="Telefono"
        [ngClass]="{'is-invalid': (control.phone.errors && control.phone.touched)}">
        
        <div *ngIf="control.phone.errors" class="invalid-feedback">
          <div *ngIf="control.phone.errors.required">se requiere telefono</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Direccion</label>
      <input type="text" class="form-control" formControlName = "address" placeholder="Direccion"
      [ngClass]="{'is-invalid': (control.address.errors && control.address.touched)}">

      <div *ngIf="control.address.errors" class="invalid-feedback">
        <div *ngIf="control.address.errors.required">se requiere direccion</div>
      </div>
    </div>

    <div class="form-row">

      <div class="form-group col-md-4">
        <label>Barrio</label>
        <input type="text" class="form-control" formControlName = "neighborhood" placeholder="Barrio"
        [ngClass]="{'is-invalid': (control.neighborhood.errors && control.neighborhood.touched)}">
        
        <div *ngIf="control.neighborhood.errors" class="invalid-feedback">
          <div *ngIf="control.neighborhood.errors.required">se requiere barrio</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="inputCity">Ciudad</label>
        <input type="text" class="form-control" formControlName = "city" placeholder="Ciudad"
        [ngClass]="{'is-invalid': (control.city.errors && control.city.touched)}">

        <div *ngIf="control.city.errors" class="invalid-feedback">
          <div *ngIf="control.city.errors.required">se requiere la ciudad</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="inputDepartment">Departamento</label>
        <input type="text" class="form-control" formControlName = "department" placeholder="Departamento"
        [ngClass]="{'is-invalid': (control.department.errors && control.department.touched)}">
        
        <div *ngIf="control.department.errors" class="invalid-feedback">
          <div *ngIf="control.department.errors.required">se requiere el departamento</div>
        </div>
      </div>
    </div>
    <button (click)="add()" type="button" id="btn-style" class="btn colorTop mt-3"
    [disabled]="formGroup.invalid">Registrar</button>
  </form>
</div>

