a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

nav >  a.active{
  text-decoration: none;
  background-color: #500E17;
  
}
.act:visited {
  text-decoration: none;
  background-color: #d6e2de;
}

.color
{
  background-color: #781623;
}
a{
  text-decoration: none;
  color: #ffffff;
}

.nav-row{
  width: 100%;
}
.text-menu {
  color: black;
}

.material-icons {
  font-size: 30px;  /* Preferred icon size */
  margin-top: -9px;  
  margin-left: -5px;
}