<div class="row my-3">
    <div class="col-xs-4 mt-3"  *ngFor="let product of products">
       <div class="box">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ product.category | uppercase }}</mat-card-title>
                <mat-card-subtitle>{{ product.salePrice | currency }}</mat-card-subtitle>
            </mat-card-header>
            <div class="crop-image">
                <img [src]="product.image" alt="image">
            </div>
            <mat-card-content>
                <p>{{ product.description | slice:0:25 }}</p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button [routerLink]="['/pork-cuts', product.idProduct]">Ver detalle</a>
                <button (click)="addCart(product)" mat-raised-button color="primary">Agregar al carrito</button>
            </mat-card-actions>
        
        </mat-card>
       </div>

    </div>
</div>

