<h1 mat-dialog-title>Modificar Cliente {{ client.indentification }}</h1>
<div mat-dialog-content>
    <form class="m-5"  [formGroup] = "formGroup">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Nombre</label>
          <input type="text" class="form-control"  formControlName = "name" placeholder="Nombre"
          [ngClass]="{'is-invalid': (control.name.errors && control.name.touched)}">
  
          <div *ngIf="control.name.errors" class="invalid-feedback">
            <div *ngIf="control.name.errors.required">se requiere el nombre</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Apeldido</label>
          <input type="text" class="form-control" formControlName = "lastName" placeholder="Apellidos"
          [ngClass]="{'is-invalid': (control.lastName.errors && control.lastName.touched)}">
  
          <div *ngIf="control.lastName.errors" class="invalid-feedback">
            <div *ngIf="control.lastName.errors.required">se requiere almenos un appelido</div>
          </div>
        </div>
  
        <div class="form-group col-md-6">
          <label>Telefono</label>
          <input type="text" class="form-control" formControlName = "phone" placeholder="Telefono"
          [ngClass]="{'is-invalid': (control.phone.errors && control.phone.touched)}">
          
          <div *ngIf="control.phone.errors" class="invalid-feedback">
            <div *ngIf="control.phone.errors.required">se requiere telefono</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Direccion</label>
        <input type="text" class="form-control" formControlName = "address" placeholder="Direccion"
        [ngClass]="{'is-invalid': (control.address.errors && control.address.touched)}">
  
        <div *ngIf="control.address.errors" class="invalid-feedback">
          <div *ngIf="control.address.errors.required">se requiere direccion</div>
        </div>
      </div>
  
      <div class="form-row">
  
        <div class="form-group col-md-4">
          <label>Barrio</label>
          <input type="text" class="form-control" formControlName = "neighborhood" placeholder="Barrio"
          [ngClass]="{'is-invalid': (control.neighborhood.errors && control.neighborhood.touched)}">
          
          <div *ngIf="control.neighborhood.errors" class="invalid-feedback">
            <div *ngIf="control.neighborhood.errors.required">se requiere barrio</div>
          </div>
        </div>
  
        <div class="form-group col-md-4">
          <label for="inputCity">Ciudad</label>
          <input type="text" class="form-control" formControlName = "city" placeholder="Ciudad"
          [ngClass]="{'is-invalid': (control.city.errors && control.city.touched)}">
  
          <div *ngIf="control.city.errors" class="invalid-feedback">
            <div *ngIf="control.city.errors.required">se requiere la ciudad</div>
          </div>
        </div>
  
        <div class="form-group col-md-4">
          <label for="inputDepartment">Departamento</label>
          <input type="text" class="form-control" formControlName = "department" placeholder="Departamento"
          [ngClass]="{'is-invalid': (control.department.errors && control.department.touched)}">
          
          <div *ngIf="control.department.errors" class="invalid-feedback">
            <div *ngIf="control.department.errors.required">se requiere el departamento</div>
          </div>
        </div>
      </div>
    </form>
  
  <mat-dialog-actions class="row end-xs">
    <div class="col-xs-6">
      <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="modify()" [disabled]="formGroup.invalid"
      cdkFocusInitial>Aceptar</button>

    </div>
 </mat-dialog-actions>
</div>
  
  