<form class="form-signin mt-5 mb-5" [formGroup]="formGroup">
  <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
    xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
  </svg>
  <h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>
  <label for="inputEmail" class="sr-only">User</label>
  <input type="email" class="form-control" placeholder="Usuario" formControlName="userName">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" class="form-control" placeholder="Password" formControlName="password">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-outline-dark btn-block" type="submit" (click)="onLogin()">Sign in</button>
  <!-- <div class="from-group">
    <p>¿Tiene usted una cuenta?<a [routerLink]="['/register']">register</a></p>
  </div> -->
</form>



