.backColor{
    background-color: #FFFFFF;
}

.colorTop{
    background-color: #731521;
}
#btn-style:hover{
    background-color: #C2B283;
}
#btn-style{
    border: 1px solid #000000;
    border-radius: 15px;
}
.colorTable{
    background-color: #FFFFFF;
}
.my-align{
    display: block;
    margin: auto;
}

h5 {
    color: #FFFFFF;
}

#btn-style{
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: -5px;
}

button {
    color: #FFFFFF;
}