<div class="card  mt-5 mb-5 backColor">
    <h5 class="card-header colorTop">Reporte de ventas</h5>
    <nav class="navbar navbar-light mt-2">
        <a class="navbar-brand">
          <input *ngIf="invoices !== null" class="form-control mx-5" type="search"name="searchText" [(ngModel)]="searchText" 
          placeholder="Buscar por fecha / Cliente" aria-label="Search">
        </a>
    </nav>
    <div class="m-5 colorTable">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">N° Factura</th>
                <th scope="col">Fecha Facturacion</th>
                <th scope="col">Cliente</th>
                <th scope="col">Forma De Pago</th>
                <th scope="col">Total Factura</th>
              </tr>
            </thead>
            <tbody *ngFor="let invoice of invoices | filterSales: searchText">
              <tr>
                <th scope="row">{{ invoice.idInvoice }}</th>
                <td>{{ invoice.saleDate}}</td>
                <td>{{ invoice.client.name }}</td>
                <td>{{ invoice.paymentMethod }}</td>
                <td>{{ invoice.total | currency}}</td>
              </tr>
             
            </tbody>
        </table>

    </div>
    <div class="form-group m-5">
        <h2 class="text-right"><strong>Total Ventas: {{ totalSales| currency }}</strong></h2>
    </div>
   
</div>