<body>
    <div class="row mt-5 mb-5">
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header colorTop">
                    <mat-icon class="material-icons">assignment</mat-icon>Datos Factura
                </h5>
                <div class="card-body">
                    <form [formGroup]="formGroupInvoice">
                        <div class="row d-flex">

                            <div class="form-group col-md-4">
                                <label>N° Factura</label>
                                <input type="text" class="form-control" formControlName="idInvoice">
                            </div>

                            <div class="form-group col-md-6 ml-auto">
                                <label for="inputState">Pago</label>
                                <select class="form-control" formControlName="paymentMethod"
                                [ngClass]="{'is-invalid': (controlInvoice.paymentMethod.errors && controlInvoice.paymentMethod.touched)}">
                                    <option>seleccionar...</option>
                                    <option>Contraentrega</option>
                                    <option>Transferencia bancaria</option>
                                </select>
                                <div *ngIf="controlInvoice.paymentMethod.errors" class="invalid-feedback">
                                    <div *ngIf="controlInvoice.paymentMethod.errors.vPaymentMethod"> {{ controlInvoice.paymentMethod.errors.mPaymentMethod}}</div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="formGroupClient">
                        <div class="row">

                            <div class="form-group col-md-4">
                                <label>Identificacion</label>
                                <input type="text" class="form-control" formControlName="indentification"
                                    placeholder="Identificacion"
                                    [ngClass]="{'is-invalid': (controlClient.indentification.errors && controlClient.indentification.touched)}">

                                <div *ngIf="controlClient.indentification.errors" class="invalid-feedback">
                                    <div *ngIf="controlClient.indentification.errors.required">se requiere la identificacion </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4 mt-3 pt-3">
                                <button class="btn btn-primary " [disabled]="formGroupClient.invalid"
                                    (click)="search()">Buscar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="from-group col-md-6">
                                <label for="inputName">Nombre</label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="from-group col-md-6">
                                <label>Apellido(s)</label>
                                <input type="text" class="form-control" formControlName="lastName">
                            </div>
                        </div>

                    </form>
                    <form>
                        <div class="row my-3">
                            <div class="from-group col-md-12">
                                <a class="navbar-brand text-center">
                                    <input  class="form-control mx-5" type="search"
                                        name="searchText" [(ngModel)]="searchText" placeholder="Buscar productos"
                                        aria-label="Search">
                                </a>
                            </div>
                        </div>

                        <div *ngIf="products !== undefined"  class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Categoria</th>
                                        <th scope="col">Stock</th>
                                        <th scope="col">Cant</th>
                                        <th scope="col">Desc</th>
                                        <th scope="col">$Venta</th>
                                        <th scope="col">Add</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let product of products | filterInvoice: searchText">
                                    <tr>
                                        <td>{{ product.idProduct }}</td>
                                        <td>{{ product.type }}</td>
                                        <td>{{ product.category }}</td>
                                        <td>{{ product.quantity }}</td>
                                        <td>
                                            <input type="number" #valQuantity id="size-quantity" value="1" min="1" [max]="product.quantity"
                                                   onkeydown="return false">
                                        </td>
                                        <td>
                                            <input type="number" #valDiscount id="size-quantity" value="0" min="0" max="100"
                                                   onkeydown="return false">
                                        </td>
                                        <td>
                                            <input type="number" #valPrice id="size-price" [value]="product.salePrice" >
                                        </td>
                                        <td><button (click)="addDetail(product, valQuantity.value, valPrice.value, valDiscount.value);
                                            valQuantity.value = ''; valDiscount.value =''" 
                                            class="btn btn-success btn-size"> <mat-icon class="btn-add">add_circle_outline</mat-icon>  </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </form>



                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-5">
            <div class="card">
                <h5 class="card-header colorTop">
                    <mat-icon class="material-icons">assignment</mat-icon>Detalle Factura
                </h5>

                <div class="card-body">
                    <div class="table-responsive">
                        <div class="form-group col-md-4 mt-3 ml-auto">
                            <button class="btn btn-primary" (click)="addInvoice()">Guardar<mat-icon>archive</mat-icon> </button>
                        </div> 
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Cant</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Precio Unit.</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let detail of invoice.invoiceDetails">
                                <tr>

                                    <td>{{ detail.product.idProduct }}</td>
                                    <td>{{ detail.quantity }}</td>
                                    <td>{{ detail.product.type }}</td>
                                    <td>{{ detail.product.category }}</td>
                                    <td>{{ detail.unitValue | currency }}</td>
                                    <td>{{ detail.tolalDetail | currency }}</td>
                                    <td>
                                        <button (click)="delete(invoice.invoiceDetails.indexOf(detail))" class="btn btn-danger btn-size">
                                            <mat-icon class="btn-add">highlight_off</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="4"></td>
                                    <td>SUBTOTAL $</td>
                                    <td>{{invoice.subtotal | currency}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td>IVA $</td>
                                    <td>{{ invoice.totalIva | currency}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td><strong>TOTAL $</strong></td>
                                    <td><strong>{{ invoice.total | currency }}</strong></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
