.colorTop{
    background-color: #731521;
    color: #ffffff;
}
h5 {
    color: #ffffff;
}
#size-quantity
{
    width: 50px;
}
#size-price{

    width: 70px;
}

/* input[type=number] {
    width: 50px;
}    */

body{
    margin-left: -75px;
    margin-right: -75px;
}
.material-icons {
    font-size: 22px;
    vertical-align: text-top;
}