.mat-stepper-horizontal {
    margin-top: 15px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 20px;
  }
  
  .example-container .mat-form-field {
    width: 300px;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 12px;
  }

  .backColor{
    background-color: #FFFFFF;
}

.colorTop{
    background-color: #731521;
}
h5 {
  color: #FFFFFF;
}
.space {
  margin-left: 30px;
}